
@{
    ViewBag.Title = "Xomorod Corporation";
}

@section Poster{
    <video class="zerif_video_background" preload="auto" controls="true" poster="@Url.Content("~/Content/images/bg21.jpg")" muted></video>
    <div class="preloader">
        <div class="status">&nbsp;</div>
    </div>
}

@section Header{
    <div class="home-header-wrap">
        <div class="header-content-wrap">
            <div class="container big-title-container">
                <h1 class="intro-text">Xomorod Corporation</h1>
                <div class="buttons"><a href="#content" class="btn btn-primary custom-button red-btn">FEATURES</a><a href="#content" class="btn btn-primary custom-button green-btn">WHAT'S INSIDE</a></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
}

<div id="content" class="site-content">
    <section class="focus" id="focus">
        <div class="container">
            <div class="section-header">
                <h2 class="dark-text">Features</h2>
                <h6>What makes this single-page WordPress theme unique.</h6>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                    <div class="service-icon"><a target="_self" href="#"><i class="pixeden our-focus-widget-image" style="background: url('@Url.Content("~/Content/images/Unknown-9.png")') no-repeat center;"></i></a></div>
                    <h5 class="red-border-bottom">PARALLAX EFFECT</h5>
                    <p>Create memorable pages with smooth parallax effects that everyone loves. Also, use our lightweight content slider offering you smooth and great-looking animations.</p>
                </div>
                <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                    <div class="service-icon"><a target="_self" href="#"><i class="pixeden our-focus-widget-image" style="background: url('@Url.Content("~/Content/images/Unknown-8.png")') no-repeat center;"></i></a></div>
                    <h5 class="red-border-bottom">MOVABLE SECTIONS</h5>
                    <p>Change the sections order and display each block exactly where you need it. Use the options panel to customize any given element with the exact color that you desire.</p>
                </div>
                <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                    <div class="service-icon"><a target="_self" href="#"><i class="pixeden our-focus-widget-image" style="background: url('@Url.Content("~/Content/images/woo.png")') no-repeat center;"></i></a></div>
                    <h5 class="red-border-bottom">WOOCOMMERCE</h5>
                    <p>Build a front page for your WooCommerce store in a matter of minutes. The neat and clean presentation will help your sales and make your store accessible to everyone.</p>
                </div>
                <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                    <div class="service-icon"><a target="_self" href="#"><i class="pixeden our-focus-widget-image" style="background: url('@Url.Content("~/Content/images/Unknown-10.png")') no-repeat center;"></i></a></div>
                    <h5 class="red-border-bottom">CUSTOM CONTENT BLOCKS</h5>
                    <p>Showcase your portfolio, team, products, clients, about info, testimonials, pricing plans, address and map, blog, contact form, newsletter subscription form. Everything translation ready.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="separator-one" id="ribbon_bottom">
        <div class="color-overlay">
            <h3 class="container text" data-scrollreveal="enter left after 0s over 1s">Check out this cool parallax scrolling effect. Plus, you can put the background images in a slider sequence.</h3>
            <div data-scrollreveal="enter right after 0s over 1s"><a href="#contact" class="btn btn-primary custom-button green-btn">button</a></div>
        </div>
    </section>
    <section class="works" id="works">
        <div class="container">
            <div class="section-header">
                <h2 class="dark-text">Portfolio</h2>
                <h6>Showcase your work effectively and in an attractive form that your prospective clients will love.</h6>
            </div>
            <div class="row projects">
                <div id="loader">
                    <div class="loader-icon"></div>
                </div>
                <div class="col-md-12" id="portfolio-list">
                    <ul class="cbp-rfgrid">
                        <li data-scrollreveal="enter left after 0s over 1s">
                            <a href="http://demo.themeisle.com/zerif-pro/portfolio/dribbble-235/" class="more">
                                <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480039/chapter4-800_yqrf2g.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="chapter4-800" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480039/chapter4-800_yqrf2g.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="chapter4-800" /></noscript>
                                <div class="project-info">
                                    <div class="project-details">
                                        <h5 class="white-text red-border-bottom">Dribbble 235</h5>
                                        <div class="details white-text">Zerif</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-scrollreveal="enter left after 0s over 1s">
                            <a href="http://demo.themeisle.com/zerif-pro/portfolio/sush-io-business-cards/" class="more">
                                <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480066/sushio_businesscards_800_opwe2q.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="sushio_businesscards_800" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480066/sushio_businesscards_800_opwe2q.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="sushio_businesscards_800" /></noscript>
                                <div class="project-info">
                                    <div class="project-details">
                                        <h5 class="white-text red-border-bottom">Sush.io Business Cards</h5>
                                        <div class="details white-text">Zerif</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-scrollreveal="enter left after 0s over 1s">
                            <a href="http://demo.themeisle.com/zerif-pro/portfolio/8-days-eat-dribbble/" class="more">
                                <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480066/8_days_eat_dribbble_svtwhv.jpg" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="8_days_eat_dribbble" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480066/8_days_eat_dribbble_svtwhv.jpg" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="8_days_eat_dribbble" /></noscript>
                                <div class="project-info">
                                    <div class="project-details">
                                        <h5 class="white-text red-border-bottom">8 Days Eat Dribbble</h5>
                                        <div class="details white-text">Web Design</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-scrollreveal="enter left after 0s over 1s">
                            <a href="http://demo.themeisle.com/zerif-pro/portfolio/branding-mock-up-psd/" class="more">
                                <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480067/dribbble-shot_zudq1q.jpg" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="dribbble-shot" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480067/dribbble-shot_zudq1q.jpg" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="dribbble-shot" /></noscript>
                                <div class="project-info">
                                    <div class="project-details">
                                        <h5 class="white-text red-border-bottom">Branding Mock-up PSD</h5>
                                        <div class="details white-text">Web Design</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-scrollreveal="enter left after 0s over 1s">
                            <a href="http://demo.themeisle.com/zerif-pro/portfolio/ios-game-icon/" class="more">
                                <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480067/dribbbleicon_dassvg.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="dribbbleicon" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480067/dribbbleicon_dassvg.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="dribbbleicon" /></noscript>
                                <div class="project-info">
                                    <div class="project-details">
                                        <h5 class="white-text red-border-bottom">iOS Game icon</h5>
                                        <div class="details white-text">Web Design</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-scrollreveal="enter left after 0s over 1s">
                            <a href="http://demo.themeisle.com/zerif-pro/portfolio/pathfinder-character-app/" class="more">
                                <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480068/pathfinder-presentation_ik7ado.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="pathfinder-presentation" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480068/pathfinder-presentation_ik7ado.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="pathfinder-presentation" /></noscript>
                                <div class="project-info">
                                    <div class="project-details">
                                        <h5 class="white-text red-border-bottom">Pathfinder Character App</h5>
                                        <div class="details white-text">Web Design</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-scrollreveal="enter left after 0s over 1s">
                            <a href="http://demo.themeisle.com/zerif-pro/portfolio/creative-mints/" class="more">
                                <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451479726/sushio_businesscards_800_l31liu.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="sushio_businesscards_800" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451479726/sushio_businesscards_800_l31liu.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="sushio_businesscards_800" /></noscript>
                                <div class="project-info">
                                    <div class="project-details">
                                        <h5 class="white-text red-border-bottom">Creative Mints</h5>
                                        <div class="details white-text">Zerif</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li data-scrollreveal="enter left after 0s over 1s">
                            <a href="http://demo.themeisle.com/zerif-pro/portfolio/idea/" class="more">
                                <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_300,w_400,x_0,y_0/h_214,w_285/v1451480087/dirt2_cz3fpf.jpg" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="dirt2" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_300,w_400,x_0,y_0/h_214,w_285/v1451480087/dirt2_cz3fpf.jpg" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="dirt2" /></noscript>
                                <div class="project-info">
                                    <div class="project-details">
                                        <h5 class="white-text red-border-bottom">Idea</h5>
                                        <div class="details white-text">Your category</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="loaded-content"></div>
            <a id="back-button" class="red-btn" href="#"><i class="icon-fontawesome-webfont-27"></i>Go Back</a>
        </div>
    </section>
    <section class="about-us" id="aboutus">
        <div class="container">
            <div class="section-header">
                <h2 class="white-text">About</h2>
                <h6 class="white-text">Use this section to showcase important details about your business.</h6>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 column zerif-rtl-big-title">
                    <div class="big-intro" data-scrollreveal="enter left after 0s over 1s">Everything you see here is responsive and mobile-friendly.</div>
                </div>
                <div class="col-lg-4 col-md-4 column zerif_about_us_center text_and_skills" data-scrollreveal="enter bottom after 0s over 1s">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec massa enim. Aliquam viverra at est ullamcorper sollicitudin. Proin a leo sit amet nunc malesuada imperdiet pharetra ut eros.
                        <br />
                        <br />
                        Pellentesque scelerisque nibh ac risus facilisis volutpat ac vitae urna. Aenean eleifend ut libero eget adipiscing. Aliquam tincidunt, est eget cursus feugiat, risus arcu adipiscing massa, ullamcorper facilisis erat est eu metus.
                        <br />
                        <br />
                        Mauris vel nunc at ipsum fermentum pellentesque quis ut massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas non adipiscing massa. Sed ut fringilla sapien. Cras sollicitudin, lectus sed tincidunt cursus, magna lectus vehicula augue, a lobortis dui orci et est.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 column zerif-rtl-skills">
                    <ul class="skills" data-scrollreveal="enter right after 0s over 1s">
                        <li class="skill skill_1">
                            <div class="skill-count">
                                <input type="text" value="80" data-thickness=".2" class="skill1">
                            </div>
                            <h6>YOUR SKILL #1</h6>
                        </li>
                        <li class="skill skill_2">
                            <div class="skill-count">
                                <input type="text" value="90" data-thickness=".2" class="skill2">
                            </div>
                            <h6>YOUR SKILL #2</h6>
                        </li>
                        <li class="skill skill_3">
                            <div class="skill-count">
                                <input type="text" value="75" data-thickness=".2" class="skill3">
                            </div>
                            <h6>YOUR SKILL #3</h6>
                        </li>
                        <li class="skill skill_4">
                            <div class="skill-count">
                                <input type="text" value="86" data-thickness=".2" class="skill4">
                            </div>
                            <h6>YOUR SKILL #4</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="our-clients">
                <h5><span class="section-footer-title">SHOWCASE YOUR CLIENTS THERE</span></h5>
            </div>
            <div class="client-list">
                <div data-scrollreveal="enter right move 60px after 0.00s over 2.5s">
                    <a href="#">
                        <img src='@Url.Content("~/Content/images/Unknown1.png")' alt="">
                    </a> <a href="#">
                        <img src='@Url.Content("~/Content/images/Unknown-3.png")' alt="">
                    </a> <a href="#">
                        <img src='@Url.Content("~/Content/images/Unknown-4.png")' alt="">
                    </a> <a href="#">
                        <img src='@Url.Content("~/Content/images/Unknown-5.png")' alt="">
                    </a> <a href="#">
                        <img src='@Url.Content("~/Content/images/Unknown-6.png")' alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="our-team" id="team">
        <div class="container">
            <div class="section-header">
                <h2 class="dark-text">Your Team</h2>
                <h6>Prove that you have real people working for you, with some nice looking profile pictures and links to social media.</h6>
            </div>
            <div class="row" data-scrollreveal="enter left after 0s over 2s">
                <div class="col-lg-3 col-sm-3">
                    <div class="team-member">
                        <figure class="profile-pic">
                            <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/wpid-Featured_Picture137-620x411-174x174.jpg" alt="JEFFREY SCHLO">
                        </figure>
                        <div class="member-details">
                            <h5 class="dark-text red-border-bottom">JEFFREY SCHLO</h5>
                            <div class="position">Project Manager</div>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a title="Facebook" href="#" target="_self"><i class="fa fa-facebook"></i></a></li>
                                <li><a title="Behance" href="#" target="_self"><i class="fa fa-behance"></i></a></li>
                                <li><a title="Google Plus" href="#" target="_self"><i class="fa fa-google"></i></a></li>
                                <li><a title="Tumblr" href="#" target="_self"><i class="fa fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat massa, posuere a euismod vel, tincidunt ac massa. Donec sed vulputate turpis. Donec at semper lorem. Fusce et accumsan tellus.</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="team-member">
                        <figure class="profile-pic">
                            <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/wpid-Featured_Picture105-620x412-174x174.jpg" alt="KEN HOFMANN">
                        </figure>
                        <div class="member-details">
                            <h5 class="dark-text red-border-bottom">KEN HOFMANN</h5>
                            <div class="position">Photographer</div>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a title="Facebook" href="#" target="_self"><i class="fa fa-facebook"></i></a></li>
                                <li><a title="Twitter" href="#" target="_self"><i class="fa fa-twitter"></i></a></li>
                                <li><a title="Behance" href="#" target="_self"><i class="fa fa-behance"></i></a></li>
                                <li><a title="Dribbble" href="#" target="_self"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat massa, posuere a euismod vel, tincidunt ac massa. Donec sed vulputate turpis. Donec at semper lorem. Fusce et accumsan tellus.</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="team-member">
                        <figure class="profile-pic">
                            <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/8203488275_1678c84808_b10-174x174.jpg" alt="TONYA GARCIA">
                        </figure>
                        <div class="member-details">
                            <h5 class="dark-text red-border-bottom">TONYA GARCIA</h5>
                            <div class="position">Account Manager</div>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a title="LinkedIn" href="#" target="_self"><i class="fa fa-linkedin"></i></a></li>
                                <li><a title="Google Plus" href="#" target="_self"><i class="fa fa-google"></i></a></li>
                                <li><a title="Pinterest" href="#" target="_self"><i class="fa fa-pinterest"></i></a></li>
                                <li><a title="Tumblr" href="#" target="_self"><i class="fa fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat massa, posuere a euismod vel, tincidunt ac massa. Donec sed vulputate turpis. Donec at semper lorem. Fusce et accumsan tellus.</div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="team-member">
                        <figure class="profile-pic">
                            <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/199585462_95b971c927_b8-174x174.jpg" alt="JASON LANE">
                        </figure>
                        <div class="member-details">
                            <h5 class="dark-text red-border-bottom">JASON LANE</h5>
                            <div class="position">Business Development</div>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a title="Reddit" href="#" target="_self"><i class="fa fa-reddit"></i></a></li>
                                <li><a title="Email" href="mailto:#"><i class="fa fa-envelope"></i></a></li>
                                <li><a title="Website" href="#"><i class="fa fa-globe"></i></a></li>
                                <li><a title="Phone Number" href="tel:#"><i class="fa fa-phone"></i></a></li>
                            </ul>
                        </div>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat massa, posuere a euismod vel, tincidunt ac massa. Donec sed vulputate turpis. Donec at semper lorem. Fusce et accumsan tellus.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="purchase-now" id="ribbon_right">
        <div class="container">
            <div class="row">
                <div class="col-md-9 zerif-rtl-ribbon-text" data-scrollreveal="enter left after 0s over 1s">
                    <h3 class="white-text">Use these ribbons to display calls to action mid-page.</h3>
                </div>
                <div class="col-md-3 zerif-rtl-ribbon-btn" data-scrollreveal="enter right after 0s over 1s"><a href="#contact" class="btn btn-primary custom-button red-btn">Button</a></div>
            </div>
        </div>
    </section>
    <section class="packages" id="pricingtable">
        <div class="container">
            <div class="section-header">
                <h2 class="white-text">(New ) Packages and pricing table</h2>
                <h6 class="white-text">Create an attractive-looking pricing section for your products.</h6>
            </div>
            <div class="row">
                <div class="package-box-wrap col-lg-3 col-md-6 col-sm-6">
                    <div class="package" data-scrollreveal="enter left after 0s over 1s">
                        <div class="package-header" style="background: #34d293">
                            <h5>BASIC</h5>
                        </div>
                        <div class="price dark-bg">
                            <div class="price-container">
                                <h4><span class="dollar-sign">$</span>15</h4>
                                <span class="price-meta">/MO</span>
                            </div>
                        </div>
                        <ul>
                            <li>100GB Storage</li>
                            <li>All Themes</li>
                            <li>Access to Tutorials</li>
                            <li>Auto Backup</li>
                            <li>Extended Security</li>
                        </ul>
                        <a href="#" class="btn btn-primary custom-button" style="background: #34d293">SIGN UP</a>
                    </div>
                </div>
                <div class="package-box-wrap col-lg-3 col-md-6 col-sm-6">
                    <div class="package" data-scrollreveal="enter left after 0s over 1s">
                        <div class="package-header" style="background: #3ab0e2">
                            <h5>STANDARD</h5>
                        </div>
                        <div class="price dark-bg">
                            <div class="price-container">
                                <h4><span class="dollar-sign">$</span>20</h4>
                                <span class="price-meta">/ MO</span>
                            </div>
                        </div>
                        <ul>
                            <li>100GB Storage</li>
                            <li>All Themes</li>
                            <li>Access to Tutorials</li>
                            <li>Auto Backup</li>
                            <li>Extended Security</li>
                        </ul>
                        <a href="#" class="btn btn-primary custom-button" style="background: #3ab0e2">SIGN UP</a>
                    </div>
                </div>
                <div class="package-box-wrap col-lg-3 col-md-6 col-sm-6">
                    <div class="best-value">
                        <div class="package" data-scrollreveal="enter left after 0s over 1s">
                            <div class="package-header" style="background: #e96656">
                                <h4>PREMIUM</h4>
                                <div class="meta-text">Best Value</div>
                            </div>
                            <div class="price dark-bg">
                                <div class="price-container">
                                    <h4><span class="dollar-sign">$</span>35</h4>
                                    <span class="price-meta">/MO</span>
                                </div>
                            </div>
                            <ul>
                                <li>100GB Storage</li>
                                <li>All Themes</li>
                                <li>Access to Tutorials</li>
                                <li>Auto Backup</li>
                                <li>Extended Security</li>
                            </ul>
                            <a href="#" class="btn btn-primary custom-button" style="background: #e96656">SIGN UP</a>
                        </div>
                    </div>
                </div>
                <div class="package-box-wrap col-lg-3 col-md-6 col-sm-6">
                    <div class="package" data-scrollreveal="enter left after 0s over 1s">
                        <div class="package-header" style="background: #e7ac44">
                            <h5>ULTIMATE</h5>
                        </div>
                        <div class="price dark-bg">
                            <div class="price-container">
                                <h4><span class="dollar-sign">$</span>99</h4>
                                <span class="price-meta">/MO</span>
                            </div>
                        </div>
                        <ul>
                            <li>100GB Storage</li>
                            <li>All Themes</li>
                            <li>Access to Tutorials</li>
                            <li>Auto Backup</li>
                            <li>Extended Security</li>
                        </ul>
                        <a href="#" class="btn btn-primary custom-button" style="background: #e7ac44">SIGN UP</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="newsletter" id="subscribe">
        <div class="container">
            <h3 class="white-text" data-scrollreveal="enter left after 0s over 1s">Newsletter form</h3>
            <div class="sub-heading white-text" data-scrollreveal="enter right after 0s over 1s">Display a small newsletter subscription form. Integrates with services such as MailChimp, SendinBlue.</div>
            <h1 class="widget-title">.</h1>
            <form id="sib_form_1-form" method="post" class="sib_signup_form">
                <input type="hidden" name="sib_form_action" value="subscribe_form_submit">
                <input type="hidden" name="sib_form_list_id" value="2">
                <input type="hidden" name="reference_id" value="1"><div class="sib_signup_box_inside">
                    <p class="sib-email-area">
                        <label class="sib-email-area">Email Address</label>
                        <input type="email" class="sib-email-area" name="email" required="required">
                    </p>
                    <p class="sib-NAME-area">
                        <label class="sib-NAME-area">Name</label>
                        <input type="text" class="sib-NAME-area" name="NAME">
                    </p>
                    <p>
                        <input type="submit" class="sib-default-btn" value="Subscribe">
                    </p>
                </div>
            </form>
            <style>
                span.sib_widget_title {
                    font-weight: bold;
                }

                form#sib_form_1-form {
                    padding: 5px;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }

                    form#sib_form_1-form p {
                        line-height: 100%;
                        margin: 10px 0px 0px 0px;
                        padding: 5px;
                    }

                    form#sib_form_1-form input[type=text], form#sib_form_1-form input[type=email], form#sib_form_1-form select {
                        width: 100%;
                        max-width: 300px;
                        box-shadow: none;
                        border: 1px solid #bbbbbb;
                        height: auto;
                        margin: 0px;
                        margin-top: 5px;
                    }

                    form#sib_form_1-form button.sib-default-btn, form#sib_form_1-form input[type=submit].sib-default-btn {
                        margin: 0px;
                        margin-top: 10px;
                        margin-bottom: 5px;
                        color: #fff;
                        background-color: #444444;
                        border-color: #2E2E2E;
                        padding: 6px 12px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1.4285;
                        text-align: center;
                        cursor: pointer;
                        vertical-align: middle;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        white-space: normal;
                        background-image: none;
                        border: 1px solid transparent;
                        border-radius: 4px;
                    }

                        form#sib_form_1-form button.sib-default-btn:hover, form#sib_form_1-form input[type=submit].sib-default-btn:hover {
                            background-color: #333333;
                        }

                p.sib-alert-message {
                    padding: 15px;
                    margin-bottom: 20px;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                p.sib-alert-message-error {
                    background-color: #f2dede;
                    border-color: #ebccd1;
                    color: #a94442;
                }

                p.sib-alert-message-success {
                    background-color: #dff0d8;
                    border-color: #d6e9c6;
                    color: #3c763d;
                }

                p.sib-alert-message-warning {
                    background-color: #fcf8e3;
                    border-color: #faebcc;
                    color: #8a6d3b;
                }
            </style>
            <script>jQuery('form#sib_form_1-form input[type="submit"]').attr('value', "Subscribe");</script>
        </div>
    </section>
    <section class="testimonial" id="testimonials">
        <div class="container">
            <div class="section-header">
                <h2 class="white-text">Testimonials</h2>
                <h6 class="white-text">Get testimonials from your clients and then display them here.</h6>
            </div>
            <div class="row" data-scrollreveal="enter right after 0s over 1s">
                <div class="col-md-12">
                    <div id="client-feedbacks" class=" owl-carousel owl-theme">
                        <div class="feedback-box">
                            <div class="message">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur nec sem vel sapien venenatis mattis non vitae augue. Nullam congue commodo lorem vitae facilisis. Suspendisse malesuada id turpis interdum dictum.</div>
                            <div class="client">
                                <div class="quote red-text"><i class="fa fa-quote-left"></i></div>
                                <div class="client-info">
                                    <a class="client-name" target="_blank" href="#">David Lorem</a><div class="client-company">CEO at Codeinwp</div>
                                </div>
                                <div class="client-image hidden-xs">
                                    <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/wpid-Featured_Picture69-620x413-73x73.jpg" alt="David Lorem">
                                </div>
                            </div>
                        </div>
                        <div class="feedback-box">
                            <div class="message">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur nec sem vel sapien venenatis mattis non vitae augue. Nullam congue commodo lorem vitae facilisis. Suspendisse malesuada id turpis interdum dictum.</div>
                            <div class="client">
                                <div class="quote red-text"><i class="fa fa-quote-left"></i></div>
                                <div class="client-info">
                                    <a class="client-name" target="_blank" href="#">Linda Guthrie</a><div class="client-company">Designer at K&#038;G</div>
                                </div>
                                <div class="client-image hidden-xs">
                                    <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/wpid-Featured_Picture137-620x411-73x73.jpg" alt="Linda Guthrie">
                                </div>
                            </div>
                        </div>
                        <div class="feedback-box">
                            <div class="message">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur nec sem vel sapien venenatis mattis non vitae augue. Nullam congue commodo lorem vitae facilisis. Suspendisse malesuada id turpis interdum dictum.</div>
                            <div class="client">
                                <div class="quote red-text"><i class="fa fa-quote-left"></i></div>
                                <div class="client-info">
                                    <a class="client-name" target="_blank" href="#">Cynthia Henry</a><div class="client-company">Developer at Newapps</div>
                                </div>
                                <div class="client-image hidden-xs">
                                    <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/6844805970_8dc4bcdeb4_b89-73x73.jpg" alt="Cynthia Henry">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="zerif_map_overlay" onclick="style.pointerEvents='none'"></div>
    <section id='map'>
        <iframe class='zerif_google_map' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src='https://maps.google.com/maps?&amp;q=Netherlands%2C+Almere%2C+Schapenmeent+214&amp;output=embed&iwloc'></iframe>
    </section>
    <section class="contact-us" id="contact">
        <div class="container">
            <div class="section-header">
                <h2 class="white-text">Get in touch</h2>
                <h6 class="white-text">Big and mobile-optimized contact form integrated. All fields are customizable.</h6>
            </div>
            <div class="row">
                <div class="pirate_forms_wrap">
                    <form method="post" enctype="application/x-www-form-urlencoded" id="pirate_forms_5558" class="pirate_forms ">
                        <div class="form_field_wrap contact_name_wrap col-lg-4 col-sm-4 ">
                            <label for="pirate-forms-contact-name"></label>
                            <input id="pirate-forms-contact-name" name="pirate-forms-contact-name" required class="form-control" type="text" value="" placeholder="Your Name">
                        </div>
                        <div class="form_field_wrap contact_email_wrap col-lg-4 col-sm-4 ">
                            <label for="pirate-forms-contact-email"></label>
                            <input id="pirate-forms-contact-email" name="pirate-forms-contact-email" required class="form-control" type="email" value="" placeholder="Your Email">
                        </div>
                        <div class="form_field_wrap contact_subject_wrapcol-lg-4 col-sm-4 ">
                            <label for="pirate-forms-contact-subject"></label>
                            <input id="pirate-forms-contact-subject" name="pirate-forms-contact-subject" required class="form-control" type="text" value="" placeholder="Subject">
                        </div>
                        <div class="form_field_wrap contact_message_wrap col-lg-12 col-sm-12 ">
                            <textarea id="pirate-forms-contact-message" name="pirate-forms-contact-message" required class="form-control" placeholder="Your message"></textarea>
                        </div>
                        <button id="pirate-forms-contact-submit" name="pirate-forms-contact-submit" class="pirate-forms-submit-button" class="" type="submit">Send Message</button><div class="form_field_wrap ">
                            <div id="pirate-forms-captcha" name="pirate-forms-captcha" class="g-recaptcha pirate-forms-g-recaptcha" data-sitekey="6Lf8IAITAAAAAOP5JC64QFEFtRDH35UBP5McZXw4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="latest-news" id="latestnews">
        <div class="container">
            <div class="section-header">
                <h2 class="dark-text">Blog / Latest News</h2>
                <h6 class="dark-text">Your latest posts displayed inside a nice slider. You can customize what the slider looks like.</h6>
            </div>
            <div class="clear"></div>
            <div id="carousel-homepage-latestnews" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="col-sm-3 latestnews-box">
                            <div class="latestnews-img">
                                <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/everything-mobile-friendly-and-responsive/" title="Everything Mobile-Friendly and Responsive">
                                    <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479731/photo-1429041966141-44d228a42775-825x510_wgrte6.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="photo-1429041966141-44d228a42775-825x510" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479731/photo-1429041966141-44d228a42775-825x510_wgrte6.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="photo-1429041966141-44d228a42775-825x510" /></noscript>
                                </a>
                            </div>
                            <div class="latesnews-content">
                                <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2015/04/23/everything-mobile-friendly-and-responsive/" title="Everything Mobile-Friendly and Responsive">Everything Mobile-Friendly and Responsive</a></h5>
                                <p>Go ahead and try resizing the browser window. Things are going to continue looking great!</p>
                            </div>
                        </div>
                        <div class="col-sm-3 latestnews-box">
                            <div class="latestnews-img">
                                <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/change-the-order-of-sections/" title="Change the Order of Sections">
                                    <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479699/Louis_Armstrong_restored-825x510_j11dvy.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Louis_Armstrong_restored-825x510" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479699/Louis_Armstrong_restored-825x510_j11dvy.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Louis_Armstrong_restored-825x510" /></noscript>
                                </a>
                            </div>
                            <div class="latesnews-content">
                                <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2015/04/23/change-the-order-of-sections/" title="Change the Order of Sections">Change the Order of Sections</a></h5>
                                <p>The order of the sections is easily adjustable from the WordPress Customizer so you can display where is needed.</p>
                            </div>
                        </div>
                        <div class="col-sm-3 latestnews-box">
                            <div class="latestnews-img">
                                <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/unlimited-color-schemes/" title="Unlimited Color Schemes For You Site">
                                    <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479684/photo-1429000263672-1b8b4008d2f7-825x510_cceneb.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="photo-1429000263672-1b8b4008d2f7-825x510" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479684/photo-1429000263672-1b8b4008d2f7-825x510_cceneb.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="photo-1429000263672-1b8b4008d2f7-825x510" /></noscript>
                                </a>
                            </div>
                            <div class="latesnews-content">
                                <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2015/04/23/unlimited-color-schemes/" title="Unlimited Color Schemes For You Site">Unlimited Color Schemes For You Site</a></h5>
                                <p>Use the theme options panel to customize any given element with the exact color that you desire.</p>
                            </div>
                        </div>
                        <div class="col-sm-3 latestnews-box">
                            <div class="latestnews-img">
                                <a href="http://demo.themeisle.com/zerif-pro/2015/04/05/excellent-support/" title="Excellent Support And Timely Updates">
                                    <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479687/photo-1428856472086-8674d9cbd6bc-825x510_abkoxx.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="photo-1428856472086-8674d9cbd6bc-825x510" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479687/photo-1428856472086-8674d9cbd6bc-825x510_abkoxx.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="photo-1428856472086-8674d9cbd6bc-825x510" /></noscript>
                                </a>
                            </div>
                            <div class="latesnews-content">
                                <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2015/04/05/excellent-support/" title="Excellent Support And Timely Updates">Excellent Support And Timely Updates</a></h5>
                                <p>Mauris tempor varius enim bibendum pellentesque. Pellentesque malesuada at velit et congue.</p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="item">
                        <div class="col-sm-3 latestnews-box">
                            <div class="latestnews-img">
                                <a href="http://demo.themeisle.com/zerif-pro/2014/08/05/easy-to-contact/" title="Fast And Great Support">
                                    <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480038/jibjabprocess_yiid73.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="jibjabprocess" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480038/jibjabprocess_yiid73.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="jibjabprocess" /></noscript>
                                </a>
                            </div>
                            <div class="latesnews-content">
                                <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2014/08/05/easy-to-contact/" title="Fast And Great Support">Fast And Great Support</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at placerat lacus, vitae feugiat erat. In blandit velit ut consequat bibendum.</p>
                            </div>
                        </div>
                        <div class="col-sm-3 latestnews-box">
                            <div class="latestnews-img">
                                <a href="http://demo.themeisle.com/zerif-pro/2014/07/15/thank-you/" title="Thank You!">
                                    <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_400,w_400,x_100,y_0/h_250,w_250/v1451480017/Thank-you1-e1405429544670_df94ru.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Thank-you1-e1405429544670" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_400,w_400,x_100,y_0/h_250,w_250/v1451480017/Thank-you1-e1405429544670_df94ru.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Thank-you1-e1405429544670" /></noscript>
                                </a>
                            </div>
                            <div class="latesnews-content">
                                <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2014/07/15/thank-you/" title="Thank You!">Thank You!</a></h5>
                                <p>We wish to thank the following people for the images: Fora do Eixo, RL Johnson, Daniele Zedda, Daniele Zedda, John Steven Fernandez, xvire1969, AllansBrain, Sara Cimino, soundman1024, Gagilas, Symic, rolands.lakis, rolands.lakis, Mike, alicjacolon, Michael Sevilla, Meng To, FireArt Studio.</p>
                            </div>
                        </div>
                        <div class="col-sm-3 latestnews-box">
                            <div class="latestnews-img">
                                <a href="http://demo.themeisle.com/zerif-pro/2014/06/05/regular-updates/" title="Regular Updates">
                                    <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480039/chapter4-800_yqrf2g.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="chapter4-800" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480039/chapter4-800_yqrf2g.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="chapter4-800" /></noscript>
                                </a>
                            </div>
                            <div class="latesnews-content">
                                <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2014/06/05/regular-updates/" title="Regular Updates">Regular Updates</a></h5>
                                <p>Nullam posuere, tellus sed eleifend ultricies, magna ligula dictum felis, id pellentesque lectus libero tempus lectus. Pellentesque volutpat nunc eget erat ultrices, et accumsan massa sodales. Pellentesque nisi eros, commodo non nisl at, condimentum sodales enim. Sed euismod laoreet erat, in condimentum sapien interdum non. Pellentesque sagittis dolor vel laoreet lacinia.</p>
                            </div>
                        </div>
                        <div class="col-sm-3 latestnews-box">
                            <div class="latestnews-img">
                                <a href="http://demo.themeisle.com/zerif-pro/2014/06/05/excerpt/" title="Fast &amp; Simple Installation">
                                    <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480038/dribble_app_icon_vpmhhj.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="dribble_app_icon" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480038/dribble_app_icon_vpmhhj.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="dribble_app_icon" /></noscript>
                                </a>
                            </div>
                            <div class="latesnews-content">
                                <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2014/06/05/excerpt/" title="Fast &amp; Simple Installation">Fast &amp; Simple Installation</a></h5>
                                <p>This is a post excerpt.</p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-homepage-latestnews" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="right carousel-control" href="#carousel-homepage-latestnews" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
            </div>
        </div>
    </section>
</div>